#Twitter OAuth consumer keys here
twitterConsumerKey=EDIT_THIS
twitterConsumerSecret=EDIT_THIS
ogApiBaseUrl=EDIT_THIS
slackToken=EDIT_THIS
slackChannels=EDIT_THIS

# release build info
keyAlias=EDIT_THIS
keyPassword=EDIT_THIS
storeFile=EDIT_THIS
storePassword=EDIT_THIS
